/* Importar fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-bg-color: #f4f6f8;
    --btn-bg-color: #16a086;
    --btn-hover-bg-color: #147a66;
    --error-color: #721c24;
    --error-bg-color: #f8d7da;
    --error-border-color: #f5c6cb;
    --success-color: #155724;
    --success-bg-color: #d4edda;
    --success-border-color: #c3e6cb;
    --border-color: #ddd;
    --input-padding: 10px;
    --border-radius: 8px;
    --main-font-family: 'Roboto', sans-serif;
    --heading-font-family: 'Roboto', sans-serif;
    --text-color: #333;
    --font-size: 14px;
    --yellow-bg-color: #fff3cd;
    --yellow-border-color: #ffeeba;
    --yellow-text-color: #856404;
}

body {
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
}

.main {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow-x: auto;
    text-align: justify;
}

.calendarioConsulta-title {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 10px;
    background-color: rgba(22, 160, 134, 0.9);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 -20px 20px;
    max-width: calc(100% + 40px);
    line-height: 1.5;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    color: #007bff;
    margin-bottom: 10px;
}

.title h2 {
    color: #16a086;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.calConsultas-title1 h2 {
    text-align: center;
    max-width: 1470px;
    font-size: 18px;
    font-family: Arial, sans-serif !important;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: #147a66;
     /* Adicionando uma borda verde claro */
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 -20px 20px;
    max-width: calc(100% + 40px);
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espaçamento entre os inputs de data */
}
.form-group label {
    font-weight: bold;
    color: #495057;
}

.form-group input[type="date"] {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    color: #495057;
}

.tabela1 {
    width: 100%;
    max-width: 1470px; /* Define a largura máxima da tabela */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

.tabela1 th, .tabela1 td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.tabela1 th {
    background-color: #12836e;
    color: white;
    font-weight: bold;
}

.tabela1 td {
    color: #495057;
    
}

.tabela1 tr:nth-child(even) {
    background-color: #f8f9fa;
}

.tabela1 tr:hover {
    background-color: #e9ecef;
}

.tabela1 button {
    padding: 8px 12px;
    
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.tabela1 .confirmar {
    background-color: #28a745;
    color: white;
}

.tabela1 .alterar {
    background-color: #ffc107;
    color: white;
}

.tabela1 .deletar {
    background-color: #dc3545;
    color: white;
}

.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--btn-bg-color);
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: var(--btn-hover-bg-color);
}

.pagination span {
    font-size: 14px;
    margin: 0 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.modal-content input[type='date'],
.modal-content input[type='time'],
.modal-content input[type='text'],
.modal-content select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 14px;
}

.modal-content select {
    width: 100%;
}

.modal-content label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.modal-buttons {
    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.modal-buttons button {
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
    background-color: var(--btn-hover-bg-color);
}

.mensagem-sucesso {
    padding: 20px;
    background-color: var(--success-bg-color);
    border: 1px solid var(--success-border-color);
    color: var(--success-color);
    border-radius: var(--border-radius);
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.form-group input[type="date"]:focus {
    border-color: var(--btn-bg-color);
    outline: none;
}

.tabela1 button {
    transition: background-color 0.3s ease;
    margin: 0 20px; 
}

.tabela1 button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .main {
        width: 100%;
        padding: 10px;
    }

    .tabela1 th, .tabela1 td {
        padding: 8px;
    }

    .modal-content {
        width: 90%;
    }

    .pagination button {
        padding: 8px 16px;
    }
}


