/* GerenciamentoUsuarios.css */

.main {
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
    margin-right: 0;
}

.gerenciamento-usuarios-title {
    text-align: center;
    margin-bottom: 20px;
}

.gerenciamento-usuarios-title h1 {
    color: #007bff;
    margin-bottom: 10px;
}

.gerenciamento-usuarios-title h2 {
    color: #495057;
    margin-bottom: 10px;
}

.gerenciamento-usuarios-title p {
    color: #6c757d;
    margin-bottom: 20px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
}

.toggle-buttons button:hover {
    background-color: #0056b3;
}

.content {
    overflow-x: hidden;
}

.tabela1 {

    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    table-layout: fixed;
}

.tabela th, .tabela td {
    padding: 5px;
    text-align: left;
    border: 1px solid #dee2e6;
    white-space: nowrap; /* Evita que o texto quebre em linhas */
    overflow: hidden;
    text-overflow: ellipsis; /* Mostra reticências (...) quando o texto é cortado */
}

.tabela th {
    background-color: #16a086;
    color: white;
    font-weight: bold;
}

.tabela td {
    color: #495057;
}

.tabela tr:nth-child(even) {
    background-color: #f8f9fa;
}

.tabela tr:hover {
    background-color: #e9ecef;
}

.tabela button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.tabela .confirmar {
    background-color: #28a745;
    color: white;
}

.tabela .alterar {
    background-color: #ffc107;
    color: white;
}

.tabela .deletar {
    background-color: #dc3545;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* para ficar acima de outros elementos */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.modal-content input[type='date'],
.modal-content input[type='time'],
.modal-content input[type='text'],
.modal-content select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modal-content select {
    width: 100%;
}

.modal-content label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.modal-buttons {
    margin-top: 20px;
    text-align: right;
}

.modal-buttons button {
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.modal-buttons button:hover {
    background-color: #0056b3;
}

.mensagem-sucesso {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.editar {
    background-color: #ffc107;
    color: white;
}

.deletar {
    background-color: #dc3545;
    color: white;
}

.mensagem-erro {
    text-align: center;
    background-color: #ffcccc;
    color: #b30000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
